<!DOCTYPE html>
<html lang="en">

<%-include("./includes/head")%>

<body>
    <!-- anime here is passed false because it was giving error -->
    <%-include("./includes/header",{anime: false})%>

    <main>
        <div class="container">
            <div class="imgBox">
                <img src="<%=data.images.jpg.large_image_url%>" alt="">
            </div>
            <div class="infoBox">
                <h2><%=data.title%></h2>
                <!-- <table>
                    <tr>
                        <td>title</td>
                        <td><%=data.title%></td>
                    </tr>
                    <tr>
                        <td>Synopsis</td>
                        <td><%=data.synopsis%></td>
                    </tr>
                </table> -->
                <div id="grid">
                    <div>title</div>
                    <div><%=data.title%></div>
                    <div>Synopsis</div>
                    <div><%=data.synopsis%></div>
                </div>
                <div>
                    <%if(!animeInLib){%>
                        <button class="lib" 
                        data-action="add" 
                        data-animeid="<%=data.mal_id%>"
                        data-title="<%=data.title%>"
                        data-imgurl="<%=data.images.jpg.image_url%>">Add to lib</button>
                    <%}else{%>
                        <button class="lib" data-action="rem" data-animeId="<%=data.mal_id%>">remove from lib</button>
                    <%}%>
                </div>
            </div>
        </div>
    </main>

    <%-include("./includes/footer") %>

</body>