<!DOCTYPE html>
<html lang="en">

<%-include("./includes/head")%>

<body>
    <!-- anime here is passed false because it was giving error -->
    <%-include("./includes/header",{anime: false})%>

    <main>
        <div>
            <h2>User</h2>
            <p><%=locals.user.email%></p>
        </div>
        <div>
            <h1>Library</h1>
            <!-- some carousel (wanted feature)-->
            <div class="gallery">
                <%lib.forEach((data)=>{%>
                    <div class="card">
                        <img src="<%=data.imgurl%>" class="top">
                        <div class="card-body">
                            <div class="card-title">
                                <%=data.title%>
                            </div>
                        </div>
                        <form action="/get-anime-info" method="GET">
                            <input type="hidden" name="anime" value="<%=data.animeid%>">
                            <button>view more</button>
                        </form>
                        <button class="lib" data-action="rem" data-animeId="<%=data.animeid%>">remove from lib</button>
                    </div>
                <%})%>
            </div>
        </div>
    </main>

    <%-include("./includes/footer") %>
    
</body>
</html>