<!DOCTYPE html>
<html lang="en">

<%-include("./includes/head")%>

<body>

    <%-include("./includes/header")%>

    <main>
        <div class="filterBox">
            <form action="/get-filtered-anime" method="GET">
                <input label="All" name="filter" type="radio" checked>
                <input label="tv" name="filter" type="radio"  value="tv">
                <input label="movie" name="filter" type="radio" value="movie">
                <input label="ova" name="filter" type="radio" value="ova">
                <input label="special" name="filter" type="radio" value="special">
                <input label="ona" name="filter" type="radio" value="ona">
                <input type="hidden" value="<%=anime%>" name="anime">
                <button type="submit">Apply filter</button>
            </form>
        </div>
        <div>
            <h1>Ongoing anime</h1>
            <!-- some carousel (wanted feature)-->
            <div class="gallery">
                <%dataArray.forEach((data)=>{%>
                    <div class="card">
                        <img src="<%=data.images.jpg.image_url%>" alt="" srcset="" class="top">
                        <div class="card-body">
                            <div class="card-title">
                                <%=data.title%>
                            </div>
                            <p><%=data.score%></p>
                        </div>
                    </div>
                <%})%>
                <form action="" method="GET">
                    <button>see more</button>
                </form>
            </div>
        </div>
        <div class="pagination">
            <a href="#" id="prev" data-page="1">&laquo;</a>            
            <% for(let i = 0; i < pages.last_visible_page; i++ ){ %>
              <!-- <li class="page-item" data-page="<%=i+1%>"><a class="page-link" href="/page/<%=i+1%>"><%= i+1 %> </a></li> -->
              <a href="/page/<%=i+1%>" data-page="<%=i+1%>"><%= i+1 %></a>
            <% } %>
            <!-- <a href="#" data-link="1">1</a>
            <a href="#" data-link="2" class="active">2</a>
            <a href="#" data-link="3">3</a>
            <a href="#" data-link="4">4</a>
            <a href="#" data-link="5">5</a>
            <a href="#" data-link="6">6</a>
            <a href="#" data-link="7">7</a>
            <a href="#" data-link="8">8</a> -->
            <a href="#" id="next" data-page="3">&raquo;</a>
        </div>
    </main>
    
    <footer>
        made with love
    </footer>
</body>
</html>