<!DOCTYPE html>
<html lang="en">

<%-include("./includes/head")%>

<body>

    <%-include("./includes/header",{anime:anime})%>

    <main>
        <!-- because there is no filter params for recent episode api endpoint -->
        <%if(anime!="recent"){%>
            <div class="filterBox">
                <form action="/get-filtered-anime" method="GET">
                    <input label="All" name="filter" type="radio" value="all" <%= filter === null || filter === 'all' ? 'checked' : '' %>>
                    <input label="tv" name="filter" type="radio" value="tv" <%= filter === 'tv' ? 'checked' : '' %>>
                    <input label="movie" name="filter" type="radio" value="movie" <%= filter === 'movie' ? 'checked' : '' %>>
                    <input label="ova" name="filter" type="radio" value="ova" <%= filter === 'ova' ? 'checked' : '' %>>
                    <input label="special" name="filter" type="radio" value="special" <%= filter === 'special' ? 'checked' : '' %>>
                    <input label="ona" name="filter" type="radio" value="ona" <%= filter === 'ona' ? 'checked' : '' %>>
                    <input type="hidden" name="anime" value="<%=anime%>">
                    <button type="submit">Apply filter</button>
                </form>
            </div>
        <%}%>
        <div>
            <h1><%=anime%></h1>
            <!-- some carousel (wanted feature)-->
            <div class="gallery">
                <!-- episodes api endpoint has different json structure -->
                <%if(anime=="recent"){%>
                    <%dataArray.forEach((data)=>{%>
                        <div class="card">
                            <img src="<%=data.entry.images.jpg.image_url%>" alt="" srcset="" class="top">
                            <div class="card-body">
                                <div class="card-title">
                                    <%=data.entry.title%>
                                </div>
                                <p>Episode: <%=data.episodes[0].mal_id%></p>
                            </div>
                        </div>
                    <%})%>
                <%}else{%>
                    <%dataArray.forEach((data)=>{%>
                        <div class="card">
                            <img src="<%=data.images.jpg.image_url%>" alt="" srcset="" class="top">
                            <div class="card-body">
                                <div class="card-title">
                                    <%=data.title%>
                                </div>
                                <p><%=data.score%></p>
                            </div>
                            <form action="/get-anime-info" method="GET">
                                <input type="hidden" name="anime" value="<%=data.mal_id%>">
                                <button>view more</button>
                            </form>
                        </div>
                    <%})%>
                <%}%>
            </div>
        </div>
        <div class="pagination">
            <a href="#" id="prev" data-page="1">&laquo;</a>
            <a href="/page/1%>" data-page="1" class="active">1</a>      
            <% for(let i = 1; i < pages.last_visible_page; i++ ){ %>
              <a href="/page/<%=i+1%>" data-page="<%=i+1%>"><%= i+1 %></a>
            <% } %>
            <a href="#" id="next" data-page="3">&raquo;</a>
        </div>
    </main>
    
    <footer>
        made with love
    </footer>
    <script>
        const icon = document.querySelector(".logo i");
        const pagination = document.querySelector(".pagination");
        const pageLinks = document.querySelectorAll('.pagination a:not(#prev):not(#next)');
        const prevButton = document.querySelector("#prev");
        const nextButton = document.querySelector("#next");
        const navLinks = document.querySelector('.nav-links');
        icon.addEventListener('click', () => {
            console.log("clicked");
            if (navLinks.style.maxHeight) {
                navLinks.style.maxHeight = null;
            } else {
                navLinks.style.maxHeight = navLinks.scrollHeight + 'px';
            }
        });

        pagination.addEventListener("click", (e) => {
            if (e.target.tagName === "A") {
                if (e.target.id == "prev") {
                    const current = document.querySelector(".active");
                    if (current.dataset.page == 1) {
                        e.target.dataset.page = 1;
                    }
                    else{
                        nextButton.dataset.page = current.dataset.page;
                        e.target.dataset.page = current.dataset.page - 2;
                        current.previousElementSibling.classList.add("active");
                        current.classList.remove("active");
                    }
                }
                else if (e.target.id == "next") {
                    const current = document.querySelector(".active");
                    if(current.dataset.page == pageLinks.length){
                        e.target.dataset.page = pageLinks.length;
                    }
                    else{
                        prevButton.dataset.page = current.dataset.page;
                        e.target.dataset.page = parseInt(current.dataset.page) + 2;
                        // console.log(e.target.dataset.page);
                        current.nextElementSibling.classList.add("active");
                        current.classList.remove("active");
                    }
                }
                else{
                    pageLinks.forEach((link) => {
                        link.classList.remove("active");
                    })
                    e.target.classList.add("active");
                    if(e.target.dataset.page === 1){
                        prevButton.dataset.page = 1;
                    }
                    else{
                        prevButton.dataset.page = e.target.dataset.page - 1;
                    }
                    if(e.target.dataset.page === pageLinks.length){
                        nextButton.dataset.page = pageLinks.length;
                    }
                    else{
                        nextButton.dataset.page = parseInt(e.target.dataset.page) + 1;
                    }
                }
            }
        })
    </script>
    <script src="newScript.js"></script>
</body>
</html>